@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #4285F4;
    --light-blue: #DDE7F8;
    --very-light-blue: #FAFCFF;
    --green: #00AC64;
    --light-green: #51F0A5;
    --very-light-green: #A3F5CE;
    --dark-grey: #484848;
    --light-grey: #D9D9D9;
    --black: #000000;
    --white: #ffffff;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manjari", sans-serif;
    background-color: #FAFCFF;
}

a {
  text-decoration: none;
}

h3 {
  line-height: normal;
}


.icon {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.big_text {
    font-family: 'Manjari', sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: var(--blue)
}

.bold_text {
    font-weight: 700;
}

.timetable {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns for days */
  grid-template-rows: repeat(6, 1fr); /* 6 rows for time slots (including headers) */
  border: 1px solid var(--blue);
  max-width: 70%;
  border-radius: 8px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  overflow-x: auto;  /* Allow horizontal scrolling if needed */
}

.timetable > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue);
  min-width: 120px;   /* Set a minimum width for cells */
}

  .timetable > div:first-child {
    border-top-left-radius: 8px;
  }

  .timetable > div:last-child {
    border-bottom-right-radius: 8px;
  }
  .timetable > div:nth-child(27) {
    border-bottom-left-radius: 8px;
  }
  .timetable > div:nth-child(6) {
    border-top-right-radius: 8px;
  }

  .vertical-text {
    grid-column: 4;       
    grid-row: 1 / 7;      
    /* writing-mode: vertical-rl;  */
    text-align: center;    
    display: flex;         
    align-items: center;   
    justify-content: center;
    border:none;
    color: var(--blue);
    font-weight: 700;
    font-size: 28px;
    padding: 0 6px;
  }

  .vertical-text > br {
    margin-top: 12px;
  }

  .time-header, .day-header {
    background-color: var(--light-blue); /* Light gray background for headers */
    border: 1px solid #ddd;
    color: var(--blue);
    font-weight: 700;
    font-size: 18px;
    padding: 8px 16px;
    text-align: center;
    min-width: 143px;
  }
  
  .cell {
    border: 1px solid #ddd;
    padding: 30px 20px ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    height: 110px;
  }

  @media screen and (max-width:900px) {
    .cell {
      padding: 20px 15px;
    }
    .time-header, .day-header {
      padding: 6px 14px;
    }
    .timetable {
      min-width: 100vw;
    }
  }

  .cell > h4 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.22px;
    color: var(--blue);
    width: fit-content;
  }

  .cell > p {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    width: fit-content;
  }

  .timetable .time-header:nth-child(5),
  .timetable .cell:nth-child(5n + 5) { 
    background-color: #f8f8f8;
  }
  

.course_selector, .sessions {
  border-radius: 8px;
  width: 350px;
  border: 1px solid var(--blue);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.course_selector > div, .sessions > div {
  border-radius: 8px 8px 0 0;
  padding: 12px;
}

.vertical-line {
  transform: rotate(90deg);
  width: 27px;
  height: 2.8px;
  background-color: white;
  border-radius: 8px;
}

.login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(255,255,255);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login_box .user_box {
  position: relative;
}

.login_box .user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--black);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--darkGrey);
  outline: none;
  background: transparent;
}
.login_box .user_box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000000;
  pointer-events: none;
  transition: .5s;
}

.login_box .user_box input:focus ~ label,
.login_box .user_box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--blue);
  font-size: 12px;
}

.primary_btn {
  border-radius: 6px;
  color: #ffffff;
  background-color: var(--blue);
  padding: 8px 24px;
  font-weight: 500;
  font-size: 14px;
}

.big_text {
  font-size: 24px;
  line-height: auto;
  font-weight: 600; 
}

.text_box {
  border: 1px solid var(--black);
  border-radius: 4px;
  padding: 4px;
  width: 60%;
}

.submit_btn {
  background-color: var(--blue);
  padding: 6px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.modals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  
}


.close_icon {
  padding: 6px;
  border: 1px solid var(--black);
  border-radius: 6px;
  cursor: pointer;
}


header,
main,
footer {
  padding-left: 350px;
}


@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #BCC2E2;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

.bo {
  border-bottom: 1px solid var(--black);
}